$color-text: #f0f0f0;
$color-text2: #4d0011;;
$color-background-component: #4d0011;
$color-background-main: #ffffff;

.nav {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    flex-direction: column;
    align-items: center;

    a {
        display: block;
        padding: 0 16px;
        line-height: inherit;
        text-decoration: none;

        color: $color-text2;
    }

    li {
        list-style: none;
        display: inline-block;
    }

    h1 {
        margin-bottom: 10px;
        color: $color-text2;
        margin: 50px 0;
    }

    ul {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .listas-social-menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .listas-social-menu ul {
        display: flex;
        gap: 15px;
    }

    .social {
        line-height: 45px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: left;
        
    }

    .menu {
        line-height: 45px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: right;
    }
    
}